{% extends 'base.html.twig' %}

{% block title %}Commentaires de la chambre {{ chambre.numero }}{% endblock %}

{% block body %}
<h1>Commentaires de la chambre {{ chambre.numero }}</h1>

<table class="table">
    <thead>
        <tr>
            <th>Auteur</th>
            <th>Réservation</th>
            <th>Commentaire</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.author.nom }}</td>
                <td>{{ comment.reservation.numeroReservation }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createdAt|date('d/m/Y H:i') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun commentaire pour cette chambre.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('hotel_show', { id: chambre.hotel.id }) }}" class="btn btn-secondary">Retour à l'hôtel</a>
{% endblock %}
